/* General styles*/

/* https://mycolor.space/?hex=%23FFFFFF&sub=1 */

::root{
  --white: #FFFFFF;
--gray: #C6C6C6;
--black: #303030;
}

body{
background-color: var(--white);
color: var(--black);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
  min-height: 100vh;
}

.container:nth-child(2){
  margin-top: 77px;
}
.border1{
  border: 1px solid lightblue;
}
.border2{}
.border3{}
.border4{}
.border5{}
.border6{}

/* Navbar styles*/

.navbar{
  border-bottom: 1px solid var(--gray);
  font-weight: bold;
  color: red !important;
}